# App
NODE_ENV=
PORT=


# Database
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=


# JWT
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# Redis
REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=


# Stripe
STRIPE_SECRET_KEY= 
STRIPE_WEBHOOK_SECRET=  
STRIPE_CURRENCY=

# Security
ALLOWED_ORIGINS=

# Admin Seed
ADMIN_SEED_EMAIL=
ADMIN_SEED_PASSWORD=